/* 
#F2FAFB bg

#3556C8
#859AD8 blues

#2C2C30
#747476
#939396 greys */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in-out;
    list-style-type: none
}

a {
    text-decoration: none;
}

body {
    background-color: #F2FAFB;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Bangers", cursive;
}

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
}

.form {
    position: relative;
    width: 31.2rem;
    height: 13rem;
    background-color: #2a2a72;
    background-image: linear-gradient(270deg, #2a2a72 0%, #3556C8 54%);
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px 0.7rem #DDE5F9;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1.2);
}

.avatar {
    position: absolute;
    right: calc(50% - 4rem);
    box-shadow: 0 0 22px #2C2C30 ;
    top: -4rem;
    width: 6rem;
    border-radius: 50%;
    border: 0.5rem solid white;
    cursor: pointer;
    overflow: hidden;
    z-index: 101;
}

.avatar:hover img {
    transform: scale(1.5);
}

.search {
    padding: 0.7rem 7rem 0.7rem 0.7rem;
    outline: none;
    border-radius: 2rem;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: #7F95DE;
    border: 1px solid rgba(255, 255, 255, 0.419);
}

.searchBtn {
    position: absolute;
    right: 5.8rem;
    padding: 0.6rem 0.7rem;
    color: #2a2a72;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.searchBtn:hover {
    background-color: #2a2a72;
    color: wheat;
    border: #3556C8;
}

.search::placeholder {
    color: white;
}

.profile {
    position: relative;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20rem;
    padding: 1rem;
    box-shadow: 0 0 40px #939396;
    border-radius: 0 0 1rem 1rem;
    transform: translateY(100vh);
}

.heading {
    position: relative;
    display: flex;
    height: 8%;
    align-items: center;
    font-weight: 900;
    font-size: 0.8rem;
    border-bottom: 1px solid #ACABAD;
}

.heading li {
    margin-right: 0.4rem;
    letter-spacing: 1.1px;
    color: #2C2C30;
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
    text-transform: capitalize;
    height: 90%;
}



.infoBtn {
    position: absolute;
    right: 0;
}

.clicked {
    box-shadow: 0 2px #2C2C30;
}

.heading li:hover {
    box-shadow: 0 2px #2C2C30;
}


.display {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.display div {
    min-width: 100%;
    min-height: 100%;
    max-width: 5rem;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1.3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateX(150%);
}

.reposDis a {
    display: flex;
    color: azure;
    background-color: #747476;
    margin: 0 0.5rem;
    padding: 0.2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.reposDis a:hover {
    transform: scale(1.1);
}

.flwersDis p,.flwinDis p {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    border: 1rem solid #939396;
    color: #747476;
}



